* text=auto
*.mjs text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.zsh text eol=lf
*.swift text eol=lf
*.c text eol=lf
*.plist text eol=lf
*.svg text eol=lf
